body{
    background-color: #cdcfdf;
    text-align: center;
    font-size: 30px;
}

header .projetos .titulo h1{
    text-align: center;
    color: #2a3153;
    
}
.design{
    padding: 40px 4%;

}
.texto p{
    font-size: 20px;
    color:#2a3153
}
.design .flex{
 align-items: center;
 justify-content: center;
 gap: 50px;
}
.textodapagina a{
    font-size: 25px;

}
.texto h1{
    font-size: 40px;
    line-height: 40px;
    margin: 40px 4%;
    color: #2a3153;
    
}
.img p{
    font-size: 20px;
    gap: 10px;
    color: #2a3153;
    margin: 40px 4%;

}

.img img {
    width: 700px;
    height: 600px;
    color:#1c1f30
    padding : 60px;
    border-radius : 20px;
    border :10px solid #0000;
    margin-top:60px;
    transition: .2s;
}
.img img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #1c1f30;
}

.img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    
}
@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}

